[submodule "third_party/LeksysINI"]
	path = third_party/LeksysINI
	url = git@github.com:Lek-sys/LeksysINI.git
[submodule "third_party/template_populator"]
	path = third_party/template_populator
	url = git@github.com:ramonmeza/template_populator.git
