// Copyright 2022 open-invaders
// Author: Ramon Meza

#ifndef ${Namespace:upper}_${ClassName:upper}_H_
#define ${Namespace:upper}_${ClassName:upper}_H_

#include <memory>

namespace ${Namespace:lower} {

class ${ClassName} {
 public:
    ${ClassName}();
    ~${ClassName}();

   void ${ClassName}::Init();

 private:
    class Impl;
    std::unique_ptr<Impl> impl_;
};

}  // namespace ${Namespace:lower}

#endif  // ${Namespace:upper}_${ClassName:upper}_H_
